doctype html
html(lang="en")
	head
		title File Metadata Microservice

		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet" ,type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css")
		style
			include style.css
	body
		h1 File Metadata Microservice

		h4 User Stories:
		ul
			li I can submit a FormData object that includes a file upload.
			li When I submit something, I will receive the file size in bytes within the JSON response

		h4 Usage:
		p Please upload a file to view its file size.

		form(action="/filesize" method="post" enctype="multipart/form-data")
			input(type="file" name="file")
			input(type="submit")

		footer
			span Created by Jennifer Currie
			section(id='socialMedia')
				a(href="http://www.freecodecamp.com/renestl", target='_blank',  role='button', class='socialContact' ) 
					i(class='fire icon')
				a(href="https://github.com/Renestl", target='_blank',  role='button', class='socialContact' ) 
					i(class='github icon')
				a(href="http://codepen.io/renestl/", target='_blank',  role='button', class='socialContact' ) 
					i(class='codepen icon')
				a(href="https://linkedin.com/pub/jennifer-currie-mba-rhia/5/975/5a8", target='_blank',  role='button', class='socialContact' ) 
					i(class='linkedin icon')