body {
	padding: 50px 20px;
}
h1 {
	border-bottom: 1px black solid;
}
h4 {
	margin: 10px auto;
}
p {
	text-align: center;
}
form {
display: flex;
justify-content: center;	
}
footer {
	margin-top: 50px;
	text-align: center;
}